/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
/* QWERTY
 * ,-----------------------------------------.                    ,-----------------------------------------.
 * |   `  |   1  |   2  |   3  |   4  |   5  |                    |   6  |   7  |   8  |   9  |   0  |  =   |
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * | ESC  |   Q  |   W  |   E  |   R  |   T  |                    |   -  |   Y  |   U  |   I  |   O  |  P   |
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * | LCTRL|   A  |   S  |   D  |   F  |   G  |-------.    ,-------|   '  |   H  |   J  |   K  |   L  |  ;   |
 * |------+------+------+------+------+------|   [   |    |    ]  |------+------+------+------+------+------|
 * | LGUI |   Z  |   X  |   C  |   V  |   B  |-------|    |-------|   /  |   N  |   M  |   ,  |   .  |  \   |
 * `-----------------------------------------/       /     \      \-----------------------------------------'
 *                   | LAlt |RAISE |LShift| / Tab   /       \Enter \  |Space |BackSP|BackSP|
 *                   |      |      |      |/       /         \      \ |      |      |      |
 *                   `----------------------------'           '------''--------------------'
 */
			bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                        &kp N6     &kp N7  &kp N8  &kp N9     &kp N0   &kp EQUAL
&kp ESC    &kp Q   &kp W   &kp E   &kp R   &kp T                         &kp MINUS  &kp Y   &kp U   &kp I      &kp O    &kp P
&kp LCTRL  &kp A   &kp S   &kp D   &kp F   &kp G                         &kp SQT    &kp H   &kp J   &kp K      &kp L    &kp SEMI
&kp LGUI   &kp Z   &kp X   &kp C   &kp V   &kp B  &kp LBKT     &kp RBKT  &kp FSLH   &kp N   &kp M   &kp COMMA  &kp DOT  &kp BSLH
                     &kp LALT  &mo 2  &kp LSHFT  &kp TAB         &kp RET  &kp SPACE  &kp BSPC  &kp BSPC
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		lower_layer {
/* COLEMAK-DH
 * ,-----------------------------------------.                    ,-----------------------------------------.
 * |   `  |   1  |   2  |   3  |   4  |   5  |                    |   6  |   7  |   8  |   9  |   0  |  =   |
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * | ESC  |   Q  |   W  |   F  |   P  |   B  |                    |   J  |   L  |   U  |   Y  |   ;  |  -   |
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * | LCTRL|   A  |   R  |   S  |   T  |   G  |-------.    ,-------|   M  |   N  |   E  |   I  |   O  |  '   |
 * |------+------+------+------+------+------|   [   |    |    ]  |------+------+------+------+------+------|
 * | LGUI |   Z  |   X  |   C  |   D  |   V  |-------|    |-------|   K  |   H  |   ,  |   .  |   /  |  \   |
 * `-----------------------------------------/       /     \      \-----------------------------------------'
 *                   | LAlt |RAISE |LShift| / Tab   /       \Enter \  |Space |BackSP|BackSP|
 *                   |      |      |      |/       /         \      \ |      |      |      |
 *                   `----------------------------'           '------''--------------------'
 */
			bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                        &kp N6  &kp N7  &kp N8     &kp N9   &kp N0    &kp EQUAL
&kp ESC    &kp Q   &kp W   &kp F   &kp P   &kp B                         &kp J   &kp L   &kp U      &kp Y    &kp SEMI  &kp MINUS
&kp LCTRL  &kp A   &kp R   &kp S   &kp T   &kp G                         &kp M   &kp N   &kp E      &kp I    &kp O     &kp SQT
&kp LGUI   &kp Z   &kp X   &kp C   &kp D   &kp V  &kp LBKT     &kp RBKT  &kp K   &kp H   &kp COMMA  &kp DOT  &kp FSLH  &kp BSLH
                     &kp LALT  &mo 2  &kp LSHFT  &kp TAB         &kp RET  &kp SPACE  &kp BSPC  &kp BSPC
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		raise_layer {
/* SPECIAL
 * ,-----------------------------------------.                    ,-----------------------------------------.
 * |  F11 |  F1  |  F2  |  F3  |  F4  |  F5  |                    |  F6  |  F7  |  F8  |  F9  | F10  | F12  |
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * |EP_TOG |EP_ON|EP_OFF|      |      |      |                    |   ^  |   &  | PgUp |   {  |   }  |   |  |
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * |OUTTOG|OUTBLE|OUTUSB| PgDn |      |      |-------.    ,-------|   ~  | Left | Down |  Up  | Right|   *  |
 * |------+------+------+------+------+------|TOGGLE |    |       |------+------+------+------+------+------|
 * |BT_NXT|BT_PRV|BT_CLR|      |      |      |-------|    |-------|   +  |   -  |   =  |   [  |   ]  |   \  |
 * `-----------------------------------------/       /     \      \-----------------------------------------'
 *                   |      |      |      | /       /       \      \  |      |      |      |
 *                   |      |      |      |/       /         \      \ |      |      |      |
 *                   `----------------------------'           '------''--------------------'
 */
			bindings = <
&kp F11           &kp F1            &kp F2             &kp F3  &kp F4  &kp F5                   &kp F6       &kp F7     &kp F8     &kp F9    &kp F10    &kp F12
&ext_power EP_TOG &ext_power EP_ON &ext_power EP_OFF  &trans  &trans  &trans                    &kp CARET    &kp AMPS   &kp PGUP   &kp LPAR  &kp RPAR   &kp PIPE
&out OUT_TOG      &out OUT_BLE     &out OUT_USB       &trans  &trans  &trans                    &kp TILDE    &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &kp KP_MULTIPLY
&bt BT_NXT        &bt BT_PRV       &bt BT_CLR         &trans  &trans  &trans  &tog 1    &trans  &kp KP_PLUS  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH
                                   &trans       &trans      &trans      &trans                     &trans    &trans      &trans    &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
	};
};
